
<app-navbar></app-navbar>

<div class="container main-container">

  <h1>Demos <small>angular</small></h1>
  <hr>

 <!--  <app-ng-style></app-ng-style> -->

 <!-- <app-css></app-css>

 <p>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid esse voluptatem eligendi assumenda necessitatibus distinctio unde nam fuga expedita et. Numquam voluptates consequuntur, animi molestias officia ex unde sint fuga.
 </p> -->

<!--   <app-clases></app-clases> -->

 <!-- <p [appResaltado]="'green'">
   Hola mundo
 </p> -->

 <!-- <app-ngswitch></app-ngswitch> -->

 <router-outlet></router-outlet>

</div>